* {
  box-sizing: border-box;
}
body {
  /* background-color: hsl(0, 38%, 39%); */
  /* background-color: hsl(216, 67%, 68%); */
  background-image: url('15.jpg');
  margin: 0;
  text-align: center;
  font-size: 32px;
}

h2 {
  /* margin: 0 0 1rem 0; */
  /* max-width: 950px; */
  padding: 30px 100px 0px 100px;
  font-family: 'Roboto Condensed', 'Roboto', open-sans;
  color: rgb(255, 255, 0)
  /* text-align: center; */
  /* font-size: 42px; */
}

a {
  color: rgb(0, 162, 255);
  font-size: 16px;
}
a:active {
  text-decoration: underline;
}
a:hover {
  color: rgb(56, 139, 0);
}

div.table {
  /* background-image: url('14.jpg'); */
  position: -webkit-sticky;
  padding: 2rem;
  display: flex;
  border-radius: 10px;
  /* flex-direction:column; */
  /* max-width: 100rem; */
  max-width: 120rem;
  margin: 20px;
  /* align-items: flex-start; */
}
div.table2 {
  /* background-image: url('1.jpg'); */
  padding: 2rem;
  display: flex;
  border-radius: 10px;
  /* flex-direction:column; */
  /* max-width: 100rem; */
  max-width: 120rem;
  margin: 20px;
  /* align-items: flex-start; */
}

div.table3 {
  /* background-image: url('2.jpg'); */
  padding: 2rem;
  display: flex;
  border-radius: 10px;
  /* flex-direction:column; */
  /* max-width: 100rem; */
  max-width: 120rem;
  margin: 20px;
  /* align-items: flex-start; */
}

img {
  /* width: 250px;
  height: 170px; */
  width: 440px;
  height: 270px;
  border-radius: 10%;
  box-shadow: 14px 14px 28px rgba(0, 0, 0, 0.479);
}

div.variant {
  max-width: 500px;
  height: 660px;
  /* margin: 0 30px 32px 30px; */
  margin: 0 48px 32px 48px;
  padding: 0px 32px 32px 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  /* background: rgb(201, 221, 238); */
  background: rgb(233, 210, 136);
  border-radius: 10px;
}

.variant:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
}
.variant:active {
  transform: translateY(0px);
}

div#variant {
  max-width: 500px;
  height: 660px;
  /* margin: 0 30px 32px 30px; */
  margin: 0 48px 32px 48px;
  padding: 0px 32px 32px 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  /* background: rgb(201, 221, 238); */
  background: rgb(233, 210, 136);
  border-radius: 10px;
}
#variant:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
}
#variant:active {
  transform: translateY(0px);
}


div h4 {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}
div p {
  text-align: center;
  max-width: 500px;
  font-size: 22px;
}
